

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="animate-charcter">the opportunities section</h3>
    </div>
  </div>
</div>








<article>

    <figure *ngFor="let u of Listopportunities">
      <img src="http://www.covenantgroup.com/img/84" width="300" height="120" alt="image">
      <h1> <th scope="row">{{u.idOpportunity}}</th></h1>
      <figcaption>
       
           <div>
          <tr> description  :{{u.description}}</tr>  
           </div>
           <div>
            <tr> date  : {{u.date}}  </tr>  
             </div>
             <div>
                <tr>  opportunity type  : {{u.typeo}} </tr>  
                 </div>
           
            
      
         
            <td><button (click)="deleteOpportunity(u.idOpportunity)" type="button" class="btn btn-danger"> Delete</button> </td>

            <td> <button  type="button" class="btn btn-primary" (click)="editOpportunity(u)"> Edit</button>  </td>
     
         
        
            
      </figcaption>
</figure>
  
  </article>

  
  <div>
    <div scope="col">  <button class="btn btn-primary " (click)="showForm()">Add opportunity</button></div>
   <app-addopportunity (aded)="addOpportunity($event)" *ngIf="showAdd"></app-addopportunity>
</div>


<section class="lesFournisseur" *ngIf="!show" >


</section> 

<div class="edit-section"  >
<app-editopportunity  (edited)="editMyOpportunity($event)"  *ngIf="show" [Opportunity]="opportunity"></app-editopportunity>
</div>